* {
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

.whiteStar {
  color: white;
}
.navyBlueStar {
  color: #2c3e50;
}

.lineWhite::after, .lineWhite::before {
  display: inline-block;
  width: 6rem;
  vertical-align: 0.5625rem;
  content: "";
  border-top: 0.25rem solid white;
}

.navyBlueline::after, .navyBlueline::before {
  display: inline-block;
  width: 6rem;
  vertical-align: 0.5625rem;
  content: "";
  border-top: 0.25rem solid #2c3e50;
}

/* Estilo barra de navegação */
.navBar {
  display: flex;
  justify-content: space-between;
  background-color: #2c3e50;
  padding: 1.325rem 5.9375rem;
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.firstTextBar {
  padding-left: 4.375rem;
  font-size: 1.5625rem;
}

.itens-menu ul {
  margin-right: 5.3125rem;
}

.itens-menu ul li {
  display: inline-block;
  text-transform: uppercase;
  list-style: none;
  padding: 0.3125rem;
}

.itens-menu ul li a {
  text-decoration: none;
  font-size: 0.875rem;
  color: white;
}

/* Estilo da sessão Principal */
.main {
  background-color: #18bc9c;
  height: 39.375rem;
}

.profileImage {
  display: flex;
  justify-content: center;
}

.profileImage img {
  padding: 5.625rem 0 0 0;
}

.main h1 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-weight: 800;
  color: white;
}

.main p {
  display: flex;
  justify-content: center;
  padding: 1.4375rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: -0.07rem;
  color: white;
}

/* Estilo da sessão Portfolio */
.portfolio {
  text-align: center;
  height: 49.375rem;
  padding: 5rem 8.75rem;
}

.portfolio h1 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  color: #2c3e50;
}

.images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  }

.formatImg {
  margin: 0.9375rem;
  width: 19.6875rem;
  height: 14.0625rem;
}

.cabinImg {
  background-image: url("../assets/images/portfolio/cabin.png");
  background-size: contain;
}

.cakeImg {
  background-image: url("../assets/images/portfolio/cake.png");
  background-size: contain;
}

.circusImg {
  background-image: url("../assets/images/portfolio/circus.png");
  background-size: contain;
}

.gameImg {
  background-image: url("../assets/images/portfolio/game.png");
  background-size: contain;
}

.safeImg {
  background-image: url("../assets/images/portfolio/safe.png");
  background-size: contain;
}

.submarineImg {
  background-image: url("../assets/images/portfolio/submarine.png");
  background-size: contain;
}

/* Estilo da Sessão About */
.about {
  text-align: center;
  padding: 5.5rem 8.75rem;
  background-color: #18bc9c;
}

.about h1 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  color: white;
}

.aboutText {
  display: flex;
  padding: 0 11.25rem;
  color: white;
}

.leftText, .rightText {
  text-align: left;
  padding: 1.5625rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: white;
}

.boxButtonDownload {
  text-align: center;
  padding: 0.5rem 0.8rem;
  border-width: 0.125rem;
  border-radius: .25rem;
  border: 0.125rem solid white;
  background-color: transparent;
  border-color: #f8f9fa;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
}

/* Estilo da sessão Contact Me */
.contact {
  text-align: center;
  padding-top: 5.625rem;
}
.contact h1 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  color: #2c3e50;
}

.singleForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 21.5625rem;
  margin-top: 1.5rem;
  margin-bottom: 6.5rem;
  font-family: 'Lato', sans-serif;
}

.contact label {
  text-align: left;
  padding: 1.25rem 0 0.3125rem 0;
  font-size: 1.375rem;
  font-weight: 600;
  color: #9C9C9C;
}

.contact input {
  border-style: none;
  border-bottom: 0.0625rem solid #E8E8E8;
}

.contact textarea {
  column-rule: 30;
  resize: none;
  border: 0;
  border-bottom: 0.0625rem solid #E8E8E8;
}

.send {
  text-align: center;
  margin-top: 1.25rem;
  height: 3.125rem;
  width: 4.375rem;
  background-color: #18bc9c;
  border-color: #18bc9c;
  border: 0.0625rem solid transparent;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}

/* Estilo Rodapé */
.infosFooter {
  text-align: center;
  height: 12.5rem;
  padding-top: 2.5rem;
  background-color: #2c3e50;
}

.locationAroundAbout {
  display: flex;
  justify-content: center;
  padding-top: 0.3125rem;
}

.location, .around, .aboutFreelancer {
  width: 22.5rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.infosFooter h1 {
  text-transform: uppercase;
  padding-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 800;
}

.infosFooter p {
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
}

.linkMediaSocial {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 0.75rem;
  color: white;
}

.iconsMediaSocial {
  width: 2.8125rem;
  height: 2.8125rem;
  margin: 0.3125rem;
  border: 0.125rem solid white;
  border-radius: 50%;
}

.fab {
  padding-top: 0.8rem;
}

.freelancerLink {
  text-decoration: none;
  color: #18bc9c;
}

.copyright {
  padding-top: 3.75rem;
  padding-bottom: 1.5rem;
  background-color: #2c3e50;
}

.copyright p {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: white;
}
