* {
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

.white-star {
  display: flex;
  justify-content: center;
  color: white;
}

.line-white::after, .line-white::before {
  margin-top: .9375rem;
  margin-bottom: .9375rem;
  width: 5.5rem;
  content: "";
  border-top: .3rem solid white;
}

.dark-star {
  display: flex;
  justify-content: center;
  color: #2c3e50;
}

.dark-star::after, .dark-line::before {
  margin-top: .9375rem;
  margin-bottom: .9375rem;
  width: 5.5rem;
  content: "";
  border-top: .3rem solid #2c3e50;
}

/* Barra de navegação */
.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #2c3e50;
  padding: 1.325rem 5.9375rem;
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.first-text-bar {
  padding-left: 4.375rem;
  font-size: 1.5625rem;
}

.itens-menu ul {
  margin-right: 5.3125rem;
}

.itens-menu ul li {
  display: inline-block;
  text-transform: uppercase;
  list-style: none;
  padding: .3125rem;
}

.itens-menu ul li a {
  text-decoration: none;
  font-size: .875rem;
  color: white;
}

/* Sessão principal */
.main {
  background-color: #18bc9c;
  height: 39.375rem;
}

.profile-image {
  display: flex;
  justify-content: center;
}

.profile-image img {
  padding: 5.625rem 0 0 0;
}

.main h1 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-weight: 800;
  color: white;
}

.main p {
  display: flex;
  justify-content: center;
  padding: 1.4375rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: -.07rem;
  color: white;
}

/* Sessão Portfolio */
.portfolio {
  text-align: center;
  height: 49.375rem;
  padding: 5rem 8.75rem;
}

.portfolio h1 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  color: #2c3e50;
}

.images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  }

.format-img {
  margin: .9375rem;
  width: 19.6875rem;
  height: 14.0625rem;
}

.cabin-img {
  background-image: url("../assets/images/portfolio/cabin.png");
  background-size: contain;
}

.cake-img {
  background-image: url("../assets/images/portfolio/cake.png");
  background-size: contain;
}

.circus-img {
  background-image: url("../assets/images/portfolio/circus.png");
  background-size: contain;
}

.game-img {
  background-image: url("../assets/images/portfolio/game.png");
  background-size: contain;
}

.safe-img {
  background-image: url("../assets/images/portfolio/safe.png");
  background-size: contain;
}

.submarine-img {
  background-image: url("../assets/images/portfolio/submarine.png");
  background-size: contain;
}

/* Sessão About */
.about {
  text-align: center;
  padding: 5.5rem 8.75rem;
  background-color: #18bc9c;
}

.about h1 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  color: white;
}

.about-text {
  display: flex;
  padding: 0 11.25rem;
  color: white;
}

.first-text, .second-text {
  text-align: left;
  padding: 1.5625rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: white;
}

.box-button-download {
  text-align: center;
  padding: .5rem .8rem;
  border-width: .125rem;
  border-radius: .25rem;
  border: .125rem solid white;
  background-color: transparent;
  border-color: #f8f9fa;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
}

/* Sessão Contact Me */
.contact {
  text-align: center;
  padding-top: 5.625rem;
}
.contact h1 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  color: #2c3e50;
}

.single-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 21.5625rem;
  margin-top: 1.5rem;
  margin-bottom: 6.5rem;
  font-family: 'Lato', sans-serif;
}

.contact label {
  text-align: left;
  padding: 1.25rem 0 .3125rem 0;
  font-size: 1.375rem;
  font-weight: 600;
  color: #9c9c9c;
}

.contact input {
  border-style: none;
  border-bottom: .0625rem solid #e8e8e8;
}

.contact textarea {
  column-rule: 30;
  resize: none;
  border: 0;
  border-bottom: .0625rem solid #e8e8e8;
}

.send {
  text-align: center;
  margin-top: 1.25rem;
  height: 3.125rem;
  width: 4.375rem;
  background-color: #18bc9c;
  border-color: #18bc9c;
  border: .0625rem solid transparent;
  border-radius: .25rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}

/* Rodapé */
.infos-footer {
  text-align: center;
  height: 12.5rem;
  padding-top: 2.5rem;
  background-color: #2c3e50;
}

.location-around-about {
  display: flex;
  justify-content: center;
  padding-top: .3125rem;
}

.location, .around, .about-freelancer {
  width: 22.5rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.infos-footer h1 {
  text-transform: uppercase;
  padding-bottom: 0.9375rem;
  font-size: 1.5rem;
  font-weight: 800;
}

.infos-footer p {
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
}

.media-social {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: .75rem;
  color: white;
}

.icons {
  width: 2.8125rem;
  height: 2.8125rem;
  margin: .3125rem;
  border: .125rem solid white;
  border-radius: 50%;
}

.fab {
  padding-top: .8rem;
}

.freelancer-link {
  text-decoration: none;
  color: #18bc9c;
}

.copyright {
  padding-top: 3.75rem;
  padding-bottom: 1.5rem;
  background-color: #2c3e50;
}

.copyright p {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: .875rem;
  font-weight: 600;
  color: white;
}
